@tailwind base;

@import '@fontsource/manrope/variable.css';

@tailwind components;
@tailwind utilities;

@import 'react-loading-skeleton/dist/skeleton.css';

/* use colors from tailwind */
.react-loading-skeleton {
  --base-color: theme('colors.primary.200');
  --highlight-color: theme('colors.primary.100');
}

.rc-slider-track {
  @apply !bg-primary-600 
}

.rc-slider-handle {
  @apply !bg-primary-100 !border-primary-600;
  opacity: 100 !important;
  height: 26px !important;
  width: 26px !important;
  margin-top: -10px !important;
  border-width: 3px !important; 
}

.rc-slider-rail {
  @apply !bg-gray-300;
}

svg {
  --gradient-from: theme('colors.primary.600');
  --gradient-to: theme('colors.primary.500');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  background: linear-gradient(rgba(232, 250, 255, 0.767) 0%, rgba(215, 224, 255, 0.603) 100%);
  font-family: 'Manrope', sans-serif;
  @apply text-gray-900;
}

a {
  color: inherit;
  text-decoration: none;
}